footer
    a(href="/privacy") Privacy
    a(href="/about#contact") Contact
    a(href="/feed.rss" target="_blank") RSS Feed
    a(href="https://github.com/Feuerhamster/feminine-boy" target="_blank" rel="noopener") GitHub
    a(href="https://discord.gg/aGceAbPQk4" target="_blank" rel="noopener") Discord
    a(href="https://content.feminineboy.net" target="_blank" rel="noopener") Login