div.titlebar
    h1
        a(href="/")
            span Feminine
            span Boy.net
    nav
        a(href="/") Startpage
        a(href="/about") About
        a(href="/tags") Tags
        a(href="/articles") Articles
        a(href="/apply") Join us
    a#toggleNav Menu
